body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: #007BFF;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
}

/* CONTAINER */
.container {
    padding: 40px;
    text-align: center;
}

/* GRID */
.event-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARD */
.card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FORM */
.form-container {
    padding: 50px;
    text-align: center;
}

.form-box {
    background: white;
    padding: 35px;
    width: 400px;
    margin: auto;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* BUTTON */
button {
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
}

/* ADMIN */
.admin-container {
    padding: 40px;
    text-align: center;
}

.table-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #007BFF;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.success-box {
    background: white;
    padding: 40px;
    width: 400px;
    margin: 100px auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}